@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.loader-preview {
  .loader-controls {
    display: none;
  }
}

input[type='color'] {
  border: none;
  border-radius: 0.5rem;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 0.5rem;
}
input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 0.5rem;
}
